Repository airtai/monotonic-nn: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, static-analysis, docs

lint:
  name: Linter
  entry: scripts/lint-pre-commit.sh
  language: python
  language_version: python3.9
  require_serial: true
  verbose: true

static-analysis:
  name: Static analysis
  entry: scripts/static-pre-commit.sh
  language: python
  language_version: python3.9
  require_serial: true
  verbose: true

docs:
  name: Build docs
  entry: scripts/build-docs-pre-commit.sh
  language: python
  language_version: python3.9
  require_serial: true
  verbose: true

Updated devcontainer
  .devcontainer/cuda-tf/devcontainer.json
Due: none

TF version limited to less than 2.16
  .github/workflows/test.yaml
  .gitignore
  airt/__init__.py
  airt/_components/helpers.py
  airt/_components/mono_dense_layer.py
  airt/_modidx.py
  airt/keras/experiments.py
  airt/keras/layers/__init__.py
  nbs/images/Constrained_ReLU.pdf
  nbs/images/Constrained_ReLU.png
  nbs/images/Constrained_with_ReLU-based_activations.pdf
  nbs/images/Constrained_with_ReLU-based_activations.png
  nbs/images/ELU-based_activations.pdf
  nbs/images/ELU-based_activations.png
  nbs/images/ReLU-based_activations.pdf
  nbs/images/ReLU-based_activations.png
  nbs/images/SELU-based_activations.pdf
  nbs/images/SELU-based_activations.png
  nbs/images/Unconstrained_ReLU.pdf
  nbs/images/Unconstrained_ReLU.png
  nbs/images/batched_output__y__in__mathbb_R___9_x_18__.pdf
  nbs/images/batched_output__y__in__mathbb_R___9_x_18__.png
  nbs/images/input__x__in__mathbb_R___9_x_12___with_batch_size_9_and_12_inputs.pdf
  nbs/images/input__x__in__mathbb_R___9_x_12___with_batch_size_9_and_12_inputs.png
  nbs/images/kernel__(|W_T|_t)_T__after_applying_monotonicity_indicator__t=(-1,_-1,_-1,_0,_0,_0,_1,_1,_1)_.pdf
  nbs/images/kernel__(|W_T|_t)_T__after_applying_monotonicity_indicator__t=(-1,_-1,_-1,_0,_0,_0,_1,_1,_1)_.png
  nbs/images/kernel__(|W_T|_t)_T__in__mathbb_R___12_x_18___after_applying__t=[1,_1,_1,_1,_0,_0,_0,_0,_-1,_-1,_-1,_-1]__in__mathbb_R___12__.pdf
  nbs/images/kernel__(|W_T|_t)_T__in__mathbb_R___12_x_18___after_applying__t=[1,_1,_1,_1,_0,_0,_0,_0,_-1,_-1,_-1,_-1]__in__mathbb_R___12__.png
  nbs/images/kernel__W__in__mathbb_R___9_x_12__.pdf
  nbs/images/kernel__W__in__mathbb_R___9_x_12__.png
  nbs/images/linear-based_activations.pdf
  nbs/images/linear-based_activations.png
  settings.ini
  setup.py
Due: lint, static-analysis

Python version limited to 3.9-3.11
  .github/workflows/test.yaml
  settings.ini
  setup.py
Due: lint, static-analysis

Updated linting and formatting
  airt/__init__.py
  airt/_components/helpers.py
  airt/_components/mono_dense_layer.py
  airt/_modidx.py
  airt/keras/experiments.py
  airt/keras/layers/__init__.py
Due: lint, static-analysis

Version bumped to 0.3.5
  airt/__init__.py
  settings.ini
Due: lint, static-analysis

Add og meta tags in index.html
  index.html
Due: none

Set default version to latest with mike 2.1.3
  index.html
Due: none

wip
  airt/_components/mono_dense_layer.py
  airt/_modidx.py
  airt/keras/layers/__init__.py
  nbs/Layers.ipynb
  nbs/MonoDenseLayer.ipynb
Due: lint, static-analysis

wip
  nbs/MonoDenseLayer.ipynb
Due: none

wip
  airt/__about__.py
  airt/__init__.py
  pyproject.toml
Due: lint, static-analysis

wip
  _pyproject.toml
  airt/__about__.py
  airt/__init__.py
  setup.py
Due: lint, static-analysis

Deployed e8da185 to 0.3 with MkDocs 1.6.1 and mike 2.1.3
  0.3/404.html
  0.3/CHANGELOG/index.html
  0.3/Experiments/index.html
  0.3/Helpers/index.html
  0.3/InDepth/index.html
  0.3/Layers/index.html
  0.3/License/index.html
  0.3/MonoDenseLayer/index.html
  0.3/SUMMARY/index.html
  0.3/TopLevel/index.html
  0.3/api/airt/keras/experiments/create_tuner_stats/index.html
  0.3/api/airt/keras/experiments/df2ds/index.html
  0.3/api/airt/keras/experiments/find_hyperparameters/index.html
  0.3/api/airt/keras/experiments/get_train_n_test_data/index.html
  0.3/api/airt/keras/experiments/peek/index.html
  0.3/api/airt/keras/layers/MonoDense/index.html
  0.3/assets/stylesheets/main.4af4bdda.min.css
  0.3/assets/stylesheets/main.4af4bdda.min.css.map
  0.3/assets/stylesheets/main.8608ea7d.min.css
  0.3/assets/stylesheets/main.8608ea7d.min.css.map
  0.3/cli_commands_not_found/index.html
  0.3/experiments/AutoMPG/index.html
  0.3/experiments/Blog/index.html
  0.3/experiments/Compas/index.html
  0.3/experiments/Heart/index.html
  0.3/experiments/Loan/index.html
  0.3/index.html
  0.3/sitemap.xml
  0.3/sitemap.xml.gz
Due: none

wip
  docs/docs/assets/img/ag2.ico
  docs/docs/assets/img/compass-outline.png
  docs/docs/assets/img/favicon-dark.svg
  docs/docs/assets/img/favicon.svg
  docs/docs/assets/img/logo-black.svg
  docs/docs/assets/img/logo-white.svg
  docs/docs/assets/img/logo.svg
  docs/mkdocs.yml
Due: docs

added javascripts folder in docs
  docs/docs/javascripts/extra.js
  docs/docs/javascripts/math.js
Due: docs

wip
  monotonic/data/__init__.py
  monotonic/data/torch.py
  nbs/example_torch.ipynb
Due: lint, static-analysis

docs: design for v0.4.0 mononet-backed compatibility shim
  docs/design/2026-07-13-mononet-shim-design.md
Due: docs

docs: implementation plan for v0.4.0 mononet shim
  docs/design/2026-07-13-mononet-shim-plan.md
Due: docs

build: replace nbdev with hatchling; airt re-exports mononet.legacy
  .gitconfig
  MANIFEST.in
  _pyproject.toml
  airt/__init__.py
  airt/_components/helpers.py
  airt/_components/mono_dense_layer.py
  airt/_modidx.py
  airt/keras/layers/__init__.py
  nbs/_quarto.yml
  nbs/nbdev.yml
  nbs/sidebar.yml
  pyproject.toml
  settings.ini
  setup.py
  tests/__init__.py
  tests/test_reexport.py
Due: lint, static-analysis

feat: emit DeprecationWarning on airt.keras.layers import
  airt/keras/layers/__init__.py
  tests/test_deprecation.py
Due: lint, static-analysis

test: builder + forward-pass integration guards for the shim
  tests/test_builders.py
  tests/test_forward.py
Due: lint, static-analysis

docs: deprecation banner + 0.4.0 changelog
  CHANGELOG.md
  README.md
Due: none

ci: plain pytest matrix (3.11-3.13) + mkdocs deploy
  .github/workflows/deploy.yaml
  .github/workflows/test.yaml
Due: none

docs: plain mkdocs site with deprecation + mononet-benchmark notices
  .gitignore
  docs/experiments/AutoMPG.ipynb
  docs/experiments/Blog.ipynb
  docs/experiments/Compas.ipynb
  docs/experiments/Heart.ipynb
  docs/experiments/Loan.ipynb
  docs/index.md
  mkdocs/mkdocs.yml
Due: docs

docs: exclude design/ subtree from mkdocs build
  mkdocs/mkdocs.yml
Due: none

fix: restore experiments extra, drop nbdev docs cruft, scrub README
  README.md
  mkdocs/site_overrides/main.html
  mkdocs/site_overrides/partials/copyright.html
  mkdocs/summary_template.txt
  pyproject.toml
Due: none

build: set version to 0.4.0a1 (alpha, aligns with mononet prerelease)
  CHANGELOG.md
  README.md
  airt/__init__.py
  docs/index.md
  pyproject.toml
  tests/test_reexport.py
Due: lint, static-analysis, docs

docs: rewrite README for the shim; fix license to CC-BY-NC-SA-4.0; restore docs CNAME
  README.md
  docs/CNAME
  pyproject.toml
Due: docs

docs: fix broken mononet benchmark links (add /main/ version segment)
  docs/design/2026-07-13-mononet-shim-design.md
  docs/design/2026-07-13-mononet-shim-plan.md
  docs/experiments/AutoMPG.ipynb
  docs/experiments/Blog.ipynb
  docs/experiments/Compas.ipynb
  docs/experiments/Heart.ipynb
  docs/experiments/Loan.ipynb
  docs/index.md
Due: docs

docs: fix dead Lending Club dataset link in Loan experiment
  docs/experiments/Loan.ipynb
  nbs/experiments/Loan.ipynb
  nbs/experiments/_Experiments.ipynb
Due: docs

ci: add Trusted-Publishing workflow + RELEASING runbook
  .github/workflows/publish.yml
  RELEASING.md
Due: none

Path conditions:
  lint: any of: \.py$
  static-analysis: any of: \.py$
  docs: any of: ^docs
